<h4><%= @player_name %>, Welcome to THE Black Jack Game!</h4>
<h4>Lets get started.</h4>
<br></br>
<form action='/deal_initial_cards' method='get'>
		<button type="submit" class="btn">Start</button>
</form>