<h4>WELCOME TO "THE" BLACKJACK GAME!</h4>
<p></p>
<form action='/set_name' method='post'>
	<fieldset>
		<leged>Please Enter Your Name Below to Get Started!</legend>
		<label></label>
		<input type="text" name="player_name" placeholder="Your Name....">
		<span class="help-block"></span>
		<!-- <span class="help-block">You will receive 500 to get started.</span> -->
		<button type="submit" class="btn">Submit</button>
	</fieldset>
</form>
